:root {
  --ion-color-primary: #ca62d3; /* Color primario */
  --ion-color-secondary: #af43b6; /* Color secundario */
  --ion-color-tertiary: #933596; /* Color terciario */
  
  --ion-background-color: #ffc6e4; /* Fondo blanco */
  --ion-text-color: #000000; /* Texto negro */
  --ion-toolbar-background: #ff9dff; /* Fondo de la barra de herramientas */
  --ion-toolbar-color: #4b044e; /* Color del texto en la barra de herramientas */
  --ion-item-background: #ffffff; /* Fondo de los elementos */
  --ion-item-color: #490d54; /* Color del texto en los elementos */
  
  --ion-refresher-background: #ffc6e4; /* Fondo del refresher */
  --ion-refresher-color: #ca62d3; /* Color del refresher */
}
